.rec-publics-container {
  margin-top: 16px;
  padding: 8px 16px;
  max-width: 280px;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rec-publics-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: #1D1E22;
}

.rec-publics-list {
  width: 100%;
}

.rec-publics-item {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.rec-publics-img {
  height: 48px;
  max-width: 48px;
  width: 100%;
  border-radius: 50%;
  background-color: #1D1E22;
}

.rec-publics-body {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rec-publics-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: #1D1E22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}

.rec-publics-nickname {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #ABACB1;
}

.rec-publics-follow {
  margin-left: auto;
  width: 67px;
  height: 22px;
  border: 1px solid #0057FF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #0057FF;
}